.legend {
  padding: 1rem;
  /* background-color: #fbeec1; */
    background-color: #e7e3d4;

  overflow-y: auto;
  font-size: 0.95rem;
  border-radius: 12px;
  /* border: solid 3px #000; */
}

.legend h4 {
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-weight: 600;
  color: #333;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
   color: #333;
}

.legend-color {
  width: 24px;
  height: 24px;
  margin-right: 0.75rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}